<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 文件上传解析 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定默认编码 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 设定文件上传的最大值为20MB，20*1024*1024 -->
        <property name="maxUploadSize" value="20971520"></property>
        <!-- 设定文件上传时写入内存的最大值，如果小于这个参数不会生成临时文件，默认为10240 -->
        <property name="maxInMemorySize" value="40960"></property>
        <!-- 延迟文件解析 -->
        <property name="resolveLazily" value="true"/>
    </bean>

    <bean id="controllerAspect" class="com.hq.cloudplatform.baseframe.sys.aspect.ControllerAspect"/>
    <aop:config>
        <aop:aspect id="controllerAspect" ref="controllerAspect">
            <aop:pointcut id="target"
                          expression="execution(public com.hq.cloudplatform.baseframe.restful.view.ResultBean com.hq.cloudplatform.baseframe.restful..*.*(..))"/>
            <aop:around method="handlerControllerMethod" pointcut-ref="target"/>
        </aop:aspect>
    </aop:config>

    <!-- 默认的注解映射的支持 ,它会自动注册DefaultAnnotationHandlerMapping 与AnnotationMethodHandlerAdapter -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"></constructor-arg>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- enable autowire 向容器自动注册 -->
    <context:annotation-config/>

    <!-- 使用cglib进行动态代理 -->
    <!-- proxy-target-class:为true表示基于类进行代理，否则只支持接口方式的代理 -->
    <!-- expose-proxy: 开启暴露Aop代理到ThreadLocal支持,即可以通过AopContext.currentProxy()获取当前代理对象 -->
    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>

    <context:component-scan base-package="com.hq.cloudplatform.baseframe.restful"/>

    <mvc:default-servlet-handler/>

    <mvc:resources mapping="/swagger-ui.html" location="classpath:/META-INF/resources/"/>

    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
</beans>